.header {
    height: 120px;
    background-image: linear-gradient(0 , #fe6432, #f53e2d);
}

/* Header navbar */
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-list {
    position: relative;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

.navbar-item {
    position: relative;
    margin: 0 8px;
}
.navbar-item:hover,
.navbar-item-link:hover,
.navbar-icon:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.navbar-item,
.navbar-item-link {
    display: inline-block;
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white-color);
    text-decoration: none;
}

.navbar-item--separates::after {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    border-right: 2px solid #f86c5c;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-item--strong {
    font-weight: 500;
}
.navbar-icon {
    font-size: 16px;
    color: var(--white-color);
    padding: 0 4px;
}
span.navbar-title-no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header qr */
.header__qr {
    width: 160px;
    top: 150%;
    background-color: var(--white-color);
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    display: none;
    animation: faceIn linear .3s;
}
.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    top: -15%;
    width: 100%;
    height: 15%;
}
.header__qr-img {
    width: 100%;
    padding: 8px;

}
.header__qr-apps {
    margin-top: -6px;
}
.header__qr-apps{
    display: flex;

}
.header__qr-download-img {
    width: 100%;
    padding: 0 6px 8px;
}
.header__qr-download-img:hover {
    cursor: pointer;
    opacity: 0.7;
}
.navbar-item:hover .header__qr {
    display: block;
}

/* Notification */
.navbar__notify {
    position: absolute;
    background-color: var(--white-color);
    width: 404px;
    right: 0;
    top: 169%;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(7, 6, 6, 0.5);
    display: none;
    animation: slideIn linear 0.3s;
}
.navbar-item:hover .navbar__notify {
    display: block;
}
.navbar__notify::after {
    content: "";
    position: absolute;
    display: block;
    top: -15px;
    right: 0;
    width: 105px;
    height: 10%;
}
.navbar__notify-header {
    padding: 12px 0;
}
.navbar__notify-header h3 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #ccc;
    letter-spacing: 1px;
    margin: 0 8px;
}

.navbar__notify-list {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

.navbar__notify-item a {
    display: flex;
    padding: 8px 0;
    text-decoration: none;
}
.navbar__notify-item:hover,
.navbar__notify-see-all:hover {
    background-color: rgba(248, 228, 228, 0.4);
}

.navbar__notify-img {
    width: 50px;
    border-radius: 4px;
    margin: 0 4px 0 8px;
}

.navbar__notify-info {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.navbar__notify-name {
    font-size: 1.4rem;
    line-height: 1.1;
    color: var(--text-color);
}

.navbar__notify-description {
    font-size: 1.2rem;
    line-height: 1;
    color: #666;
}
.navbar__notify-see-all {
    color: rgb(156, 148, 148);
    text-align: center;
    padding: 6px 0 12px 0;
    letter-spacing: 1px;
}
.navbar__notify-see-all h4 {
    margin: 0;
    font-weight: 300;
}

