table {
    width: 100%;
    border-collapse: collapse;
}
caption {
    font-size: 20px;
    font-weight: 1000;
    margin: 30px 0;
}
tr:hover {
    background-color: #d6eeee;
}
th, td {
    border: 1px solid #333;
}
.number {
    text-align: center;
}
/* tr:nth-child(even) {
    background-color: #d6eeee;
} */
th, td {
    padding: 10px;
}
mark {
    background-color: #82dfdf;
}
a {
    text-decoration: none;
}
ins {
    color: #0faaaa;
}